<div class="row">

    <div class="col-sm-3"><app-menu></app-menu>
    </div>
  <div class="col-sm-6"><div class="page-content-wrapper">
      <div class="page-content">
  <div [hidden]="submitted">
    <h1>Client Form</h1>
    <form (ngSubmit)="onSubmit(heroForm)" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">Nom</label>
        <input ngModel id="nom" required="required" name="nom" class="form-control"/>
        
      </div>
      <div class="form-group">
        <label >Prenom</label>
      <input ngModel id="prenom" required="required" name="prenom" class="form-control col-md-7 col-xs-12"/>
      </div>
        <div class="form-group">
          <label >Mail</label>
      <input ngModel id="mail" required="required" name="mail" class="form-control col-md-7 col-xs-12"/>  
      </div>
      
      <div class="form-group">
        <label >Numero de carte</label>
      <input ngModel id="numCarte" required="required" name="numCarte" class="form-control col-md-7 col-xs-12"/> 
      </div>
      <div class="form-group">
        <label >Date Expiration</label>   
      <input ngModel id="dateEx" required="required" name="dateEx" class="form-control col-md-7 col-xs-12"/>
      </div>
      <div class="form-group">
        <label >Mot de passe</label>  
      <input ngModel id="pw" required="required" name="pw" class="form-control col-md-7 col-xs-12"/> 
      </div>
      <div class="form-group">
      <label >Role</label>
      <!--<input ngModel id="role" required="required" name="role" class="form-control col-md-7 col-xs-12"/>
-->
      <select ngModel  name="role" id="role">
        <option value="A">Admin</option>
        <option value="C">Client</option>
      </select>
      </div>
      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
      {{maha}}
    </form>
  </div>
  </div>
</div></div></div>