<router-outlet></router-outlet>

<h1>MyVisa</h1>

<h2>Votre VISA sans vous déplacer, dans les meilleurs délais, au meilleur prix</h2>
<h3>Evitez les attentes longues et fastidieuses au sein des ambassades et consulats</h3>
<div>
 
<a routerLink="/ajouter"> ajouter Client</a>
<a routerLink="/ajouterTypeVisa">Ajouter type visa</a>
<a routerLink="/ajouterDetails">Ajouter Details</a>
<a routerLink="/ajouterDemandeVisa">Ajouter DemandeVisa</a>
<a routerLink="/consultervisas">consulter les visas</a>
<a routerLink="/consultervisaByClient">consultervisaByClient</a>

<a routerLink="/voirDetails">voirDetails</a>
<a routerLink="/MyDetails">voirDetails</a>

<a routerLink="/menu">Menu</a>


</div>